@font-face {
  font-family: code-light;
  src: url(../fonts/CODE_Light.eot);
  src: url(../fonts/CODE_Light.ttf);
  src: url(../fonts/CODE_Light.woff);

}

@font-face {
  font-family: centery-gothic;
  src: url(../fonts/centurygothicagain.ttf);
}